<html>
    <form action="/interfaceMK/realfor">
    <body bgcolor="#f8f8ff">
        <style>
            body{
                background-image: url("http://localhost:3000/images/bkg12345.jpg");
                background-repeat:no-repeat;
                background-size: 100% 100%;
                align-content: center;
            }
          </style>
       

        <center>
            
            <img src="http://localhost:3000/images/logo.png" width="70%"><br>

            <font face="serif" color="#009698"><b><h1><i>STUDENT DETAILS</i></h1></b><br></font>
           
            
                 
            <font face="serif" color="#009698"><b>
            ROLL NUMBER : <input type="text"  name="txt1" placeholder="Roll Number"><br><br>
            STUDENT NAME : <input type="text" name="txt2" placeholder="Name"><br><br>
            FATHER NAME : <input type="text" name="txt3" placeholder="Father name"><br><br>
            GENDER : <input type="radio" name="gender" id="mg" value="Male">MALE
                    <input type="radio" name="gender" id="fg" value="Female">FEMALE<br><br>
           
            DOB : <input type="date" name="dob" ><br><br>
           
            HINDI MARKS :<input type="text" name="txt4" placeholder="Hindi Marks"><br><br>
            ENGLISH MARKS : <input type="text" name="txt5" placeholder="English Marks"><br><br>
            MATHS MARKS : <input type="text" name="txt6" placeholder="Maths Marks"><br><br>
            PHYSICS MARKS : <input type="text" name="txt7" placeholder="Physics Marks"><br><br>
            CHEMISTRY MARKS : <input type="text"  name="txt8" placeholder="Chemistry Marks"><br><br>
            COMPUTER SC. MARKS : <input type="text" name="txt9" placeholder="Cs. Marks"><br><br>
        </b>
            </font>

           <input type="submit" value="SHOW RESULT" ><br><br>

        

        </center>  
    </body>
</form>
</html>